span{
    padding: 15px;
    height: 100px;
}

header{
    text-align: center;
}


#it-title{
    font-size: xx-large;
    width: 110px;
    display: inline-block;
    /* box-sizing: border-box; */

    color: brown;
}


li{
    display: inline;
    padding: 1px;
   
}

nav{
    background-color: brown;
}

a{
    text-decoration: none;
    padding: 8px;
    color: white;
   
}


.Live-News{
    /* text-align: right; */
    float: right;
}


ul{
    padding: 8px;
}