header{
    text-align: center;
}

#it-title{
    display: inline-block;
    font-size: xx-large;
    color: #a00606;

    width: 120px;
}

span{
    font-size: x-large;
}

li{
    display: inline;
    padding: 4px;
}

nav{
    background-color: #a00606;
    padding: 5px;
}

*{
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
}


